body {
    font-size: 20px;
    background-color: #D9D9D9;
    margin-top: 0px;
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 1em;
}

/* Estilos generales para escritorio */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  5px 10px;
    background-color: #D9D9D9;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 70px; 
    height: auto;
    margin-right: 10px;
}


.menu ul {
    display: flex;
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #3F403E;
}

.socialiconos{
    display: flex;
    align-items: center;
}

.socialiconos a { 
    margin-right: 20px; 
}

.whatsApp, .facebook, .instagram, .correo{
    width: 23px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    
    h1{
        font-size: 1em;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
    
  

    .logo {
        width: 100px; /* Tamaño del logo en dispositivos móviles */
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
    }

    .menu ul li {
        margin-right: 0;
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    .iconos {
        margin-top: 10px;
    }
   
}


  
