body {
    font-size: 20px;
    background-color: #D9D9D9;
    margin: 0px;
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 1em;
    font-weight: 400; 
}

.icono-hamburguesa{
    display: none;
}

/* Estilos generales para escritorio */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo-container {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.logo {
    width: 70px; 
    height: auto;
    margin-right: 10px;
}


.menu ul {
    display: flex;
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
    align-items: center;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #3F403E;
    transition: color 0.05s ease;
}

.menu ul li a:hover{
    color: #A6775B;
    text-decoration: underline;
}

.socialiconos{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.socialiconos a { 
    margin-right: 20px; 
}

.whatsApp, .facebook, .instagram, .correo{
    width: 23px;
    transition: transform 2s ease;
    transform-origin: center;
}

.socialiconos img:hover{
    transform: scale(1.2);
}

a { 
    text-decoration: none; 
    color: inherit; 
}


.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #D9D9D9;
    padding: 10px 10px 10px 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 35px;
    margin: 60px auto;
    height: 350px;
}

.formulario div {
    display: flex;
    flex-direction: column;
    width: 150%;
    margin-bottom: 10px; /* Espacio entre cada div */
   
}

.form{
    padding-right: 260px;
    padding-left: 160px;
}

h4{
    margin-bottom: 5px;
}

h4, p {
    letter-spacing: 0.01em;
    font-family: Arial, sans-serif;
    font-size: medium;
}

p{
    font-size: 15px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #A6775B;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #034C8C;
}








footer{
    background-color: #034C8C;
    text-align: center;
    padding: 5px;
    height: 80px;
    color:#D9D9D9;
    font-size: 0.8em;
    margin-top: 60px; 
}




@keyframes float { 
    0% { transform: translateY(0); } 
    50% { transform: translateY(-20px); } 
    100% { transform: translateY(0); }
}





.whatsapp-button {
    position: fixed;
    bottom: 20px; 
    right: 40px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    background-color: #25D366;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.whatsapp-button:hover {
    background-color: #20c356;
    transform: scale(1.1);
}

.whatsapp-button i {
    font-size: 30px;
}

.menu ul li a.active {
    color: #A6775B; /* Esto define el color café */
    font-weight:lighter; /* Opcional: resaltar el enlace */
}



/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    
    .logo {
        width: 100px; /* Tamaño del logo en dispositivos móviles */
    }

    h1{
        font-size: 0.8em;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .icono-hamburguesa{
        display: flex;
        margin-left: 15px;
        width: 25px;
        cursor: pointer;
    }

    .logo-container{
        margin-left: 5px;
    }

    .menu, .socialiconos{
        max-height: 0px;
        overflow: hidden; 
        transition: max-height 1s ease-out;
    }

    .menu.active, .socialiconos.active{
        max-height: 500px;
    }



    .menu ul {
        flex-direction: column;
        width: 100%;
    }

    .menu ul li {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    .iconos {
        margin-top: 10px;
    }

    .menu, .socialiconos{
        margin-left: 20px;
    }

    .formulario{
        width: 290px;
        margin: 20px 20px 20px 20px;
    }

    .formulario div{
        width: 100%;
    }

    input, textarea {
       width: 250px;
       align-items: center;
    }

    .form{
        padding-left: 0%;
        padding-right: 0%;
    }


    .whatsapp-button {
        left: 270px;
        margin-bottom: 20px;
    }

    footer{
        margin-top: 30px;
        height: 150px;       
    }
    
    .piepagina{
        padding-top: 50px;
    }
    
   
}






  
