body {
    font-size: 20px;
    background-color: #D9D9D9;
    margin: 0px;
    font-family: "Paytone One", serif;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-size: 1em;
    font-weight: 400; 
}

.icono-hamburguesa{
    display: none;
}

/* Estilos generales para escritorio */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.logo-container {
    margin-left: 25px;
    display: flex;
    align-items: center;
}

.logo {
    width: 70px; 
    height: auto;
    margin-right: 10px;
}


.menu ul {
    display: flex;
    list-style: none; /* Elimina los puntos de la lista */
    padding: 0;
    margin: 0;
}

.menu ul li {
    margin-right: 30px;
}

.menu ul li a {
    text-decoration: none;
    color: #3F403E;
}

.socialiconos{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.socialiconos a { 
    margin-right: 20px; 
}

.whatsApp, .facebook, .instagram, .correo{
    width: 23px;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    
    .logo {
        width: 100px; /* Tamaño del logo en dispositivos móviles */
    }

    h1{
        font-size: 0.8em;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .icono-hamburguesa{
        display: flex;
        margin-left: 15px;
        width: 25px;
        cursor: pointer;
    }
    .logo-container{
        margin-left: 5px;
    }

    .menu ul {
        flex-direction: column;
        width: 100%;
        /* margin-left: 10px; */
    }

    .menu ul li {
        margin-bottom: 10px;
        font-size: 1.1rem;
    }

    .iconos {
        margin-top: 10px;
    }

    .menu, .socialiconos{
        margin-left: 20px;
    }
   
}


  
